.footer {
    background: rgb(30, 29, 29);
    color: #c6c5c5;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  
    .footer-image {
      width: 100%;
      height: auto;
      margin-bottom: 55px;
      margin-top: -1%;
    }
    
    .col {
      display: flex;
      flex-direction: column;
      width: fit-content;
      position: relative;
      margin-left: 0.3%;
  
      &:last-child {
        margin-left: -21%;
      }
  
      &.with-line::after {
        content: "";
        position: absolute;
        left: -75px;
        top: 0;
        height: 100%;
        width: 1px;
        background: #c6c5c5;;
      }
  
      &.jobs {
        margin-left: 63%;
        margin-top: -5%;
      }
    }
  
    a {
      color: #c6c5c5;
      font-size: 20px;
      margin: 20px 0;
      text-decoration: none;
    }
  
    .links {
      display: flex;
      flex-direction: column;
    }
  
    h6 {
      font-size: 22.5px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
  
    .details {
      .detail-item {
        color: #c6c5c5;;
        font-size: 20px;
        margin: 20px 0;
        text-decoration: none;
      }
    }
    .footer-section.last-row {
        display: flex;
        flex-direction: row;
        gap: 10px; 
        align-items: center; 
        border-top: 2px solid #c6c5c5;
        width: 100%;
        margin: 10px 6px;
        padding: 50px 0;
    }
    .footer-logo {
            width: 65px;
            height: 65px;
            border-radius: 50px;
            margin-left: -0.8%;
    }
    .icon{
        margin-left: 3%;
    }
    .footer-section .name {
        font-size: 22px;
    }
    .footer-section .category {
        margin-left:-1.5%;
        font-size: 26px;
    }
      
    .footer-section .linka a,
    .footer-section .social a {
        color: #c6c5c5;
        font-size: 20px;
        margin: 10px 20px;
        text-decoration: none;
    }
    
    .footer-section .linka {
        display: flex;
        margin-left: 7.6%;
        flex-direction: row;
        gap: 10px; 
      }
      
      .footer-section .linka a {
        color: #c6c5c5;
        font-size: 20px;
        text-decoration: none;
        padding: 0 15px; 
        position: relative;
      }
      
      .footer-section .linka a:not(:last-child)::after {
        content: '';
        position: absolute;
        right: -10px; 
        top: 50%;
        transform: translateY(-50%);
        height: 20px; 
        width: 1px;
        background-color: #c6c5c5; 
      }
      
    .footer-section .social{
        margin-left: 6.7%;
    }
    
    
    .footer-section .phone {
        font-size: 20px;
        margin-left: 3%;
    }
  }

  